h1 {
    color: red;
}

body {
    background-color: black;
}

#searchBar {
    text-align: center;
    padding: 20px;
}

#search {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid yellow;
}

#searchBtn {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid yellow;
}

#repo-name {
    color: yellow;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    width: 1300px;
    height: 100px;
    border: 3px solid yellow;
    border-radius: 10px;
}